export AWS_PROFILE=local
export AWS_REGION=us-west-2
export LOCALSTACK_ENDPOINT=http://localhost:4566

export DYNAMODB_EVENT_LOG_TABLE_NAME=event-driven-local-event-log
export DYNAMODB_EVENT_SNAPSHOTS_TABLE_NAME=event-driven-local-event-snapshots
export DYNAMODB_TASKS_VIEW_TABLE_NAME=event-driven-local-tasks-view
export EVENT_STREAM_NAME=event-driven-local-event-stream
export AUDIT_BUCKET_NAME=event-driven-us-west-2-local-event-audit
